body{
    margin: 0;
}

header {
    background-color: rgba(213, 159, 42, 0.71); /* Couleur de fond du header */
    padding: 10px; /* Espacement autour du contenu du header */
}

nav {
    align-items: center; /* Alignement vertical des éléments */
}

nav ul {
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    justify-content: space-between; /* Alignement des éléments sur les extrémités */
    align-items: center; /* Alignement vertical des éléments */
    width: 100%;
    list-style-type: none; /* Suppression des puces de liste */
    margin: 0; /* Suppression des marges */
    padding: 0; /* Suppression des rembourrages */
}

nav a {
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    align-items: center; /* Alignement vertical des éléments */
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Suppression du soulignement des liens */
    padding: 10px; /* Espacement autour du texte des liens */
    font-size: 20px;
}

.blog{
    justify-content: space-between; /* Alignement des éléments sur les extrémités */
    width: 50vh;
}