body{
    margin: 0;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(197, 164, 90); /* Couleur de fond du header */
    padding: 10px; /* Espacement autour du contenu du header */
    align-items: center; /* Alignement vertical des éléments */
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    justify-content: space-between; /* Alignement des éléments sur les extrémités */
    width: 98.5%;
    list-style-type: none; /* Suppression des puces de liste */
    margin: 0; /* Suppression des marges */
    /*padding: 0; !* Suppression des rembourrages *!*/
}

nav {
}

nav ul {

}

header a {
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    align-items: center; /* Alignement vertical des éléments */
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Suppression du soulignement des liens */
    padding: 10px; /* Espacement autour du texte des liens */
    font-size: 20px;
}

li {
    display: inline;
}

h1{
    margin-left: 20px;
}

article {
    background-color: #f4f4f4; /* Couleur de fond de l'article */
    border-radius: 8px; /* Bordure arrondie */
    padding: 20px; /* Espacement à l'intérieur de l'article */
    margin: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

article h2 {
    color: #333; /* Couleur du texte du titre */
    margin-top: 0;
}

article p {
    color: #666; /* Couleur du texte du paragraphe */
    margin-right: 10px;
    margin-bottom: 30px;
}

article img {
    display: block; /* Affichage en bloc pour l'image */
    border-radius: 4px; /* Bordure arrondie pour l'image */
    width: 20%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'image */
}

article time {
    font-size: 15px;
    color: #666666;
}

.blog{
    justify-content: space-between; /* Alignement des éléments sur les extrémités */
    width: 50vh;
}

.article {
    margin-top: 30px;
    display: block;
}

.article p {
    margin: 0 20px;
}

table {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

caption {
    margin-top: 3px;
    font-size: 12px;
}

td, th {
    border: 1px solid #808080;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

aside h2 {
    margin-left: 20px;
}

aside article {
    display: block;
}

aside article h3 {
    font-size: 20px;
    margin-top: 0;
}

aside article p {
    margin: 0;
}

footer {
    background-color: rgb(197, 164, 90);
    color: #ffffff;
    text-align: center;
    bottom: 0; /* Aligner le bas du footer au bas de la page */
    width: 100%; /* Assurer que le footer occupe toute la largeur */
    height: 17%;
}

footer nav a{
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 17px;
}

footer nav .logo {
    margin-right: 10px;
}

footer nav p{
    margin: 0;
}

.login-box {
    margin: 50px 0 50px 27%;
    width: 500px;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-box label {
    font-weight: bold;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    margin-bottom: 50px;
    padding: 15px;
}

.login-box button {
    width: 107%;
    padding: 15px;
    background-color:  rgba(213, 159, 42, 0.71);
    border: none;
    color: #fff;
    cursor: pointer;
}