body{
    margin: 0;
}

header {
    background-color: rgb(223, 186, 103); /* Couleur de fond du header */
    padding: 10px; /* Espacement autour du contenu du header */
}

nav {
    align-items: center; /* Alignement vertical des éléments */
}

nav ul {
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    justify-content: space-between; /* Alignement des éléments sur les extrémités */
    align-items: center; /* Alignement vertical des éléments */
    width: 100%;
    list-style-type: none; /* Suppression des puces de liste */
    margin: 0; /* Suppression des marges */
    padding: 0; /* Suppression des rembourrages */
}

nav a {
    display: flex; /* Utilisation de flexbox pour aligner les éléments */
    align-items: center; /* Alignement vertical des éléments */
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Suppression du soulignement des liens */
    padding: 10px; /* Espacement autour du texte des liens */
    font-size: 20px;
}

h1{
    margin-left: 20px;
}

article {
    background-color: #f4f4f4; /* Couleur de fond de l'article */
    border-radius: 8px; /* Bordure arrondie */
    padding: 20px; /* Espacement à l'intérieur de l'article */
    margin: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

article h2 {
    color: #333; /* Couleur du texte du titre */
    margin-top: 0;
}

article p {
    color: #666; /* Couleur du texte du paragraphe */
}

article img {
    display: block; /* Affichage en bloc pour l'image */
    border-radius: 4px; /* Bordure arrondie pour l'image */
    width: 20%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'image */
}

.blog{
    justify-content: space-between; /* Alignement des éléments sur les extrémités */
    width: 50vh;
}


footer {
    background-color: rgb(223, 186, 103);
    color: white;
    text-align: center;
    bottom: 0; /* Aligner le bas du footer au bas de la page */
    width: 100%; /* Assurer que le footer occupe toute la largeur */
    height: 17%;
}

footer nav a{
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 17px;
}

footer nav .logo {
    margin-right: 10px;
}

footer nav p{
    margin: 0;
}

.login-box {
    width: 500px;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: absolute; /* Position absolue */
    top: 50%; /* Aligner le haut de la login-box au milieu vertical */
    left: 50%; /* Aligner la gauche de la login-box au milieu horizontal */
    transform: translate(-50%, -50%); /* Décaler la boîte de moitié de sa taille pour la centrer parfaitement */
}

.login-box label {
    font-weight: bold;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    margin-bottom: 50px;
    padding: 15px;
}

.login-box button {
    width: 107%;
    padding: 15px;
    background-color:  rgba(213, 159, 42, 0.71);;
    border: none;
    color: #fff;
    cursor: pointer;
}